@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logo{
    font-size: 25px;
    color: #00abf0;
    text-decoration: none;
    font-weight: 700;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #031540;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a{
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color:#00abf0 
}


.home {
    height: 100vh;
    background:#cbcccf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    color: #031540;
    text-align: left;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px; 
}
  
.home-content h1 {
    font-size: 55px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
}

.home-content h2 {
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

.home-content p {
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
}

.titulo {
    font-size: large;
}

.experiencia {
    margin-top: 30px;
    margin-bottom: 40px;
}

.clique {
    color: #fff;
}

footer {
    background-color: #031540;
    padding: 20px;
    color: #fff;
  }
  
  .footer-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
  }
  
  .contact-info {
    margin-top: 20px;
  }
  
  .contact-info p {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .contact-info a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  
  .contact-info a:before {
    content: "\2022";
    font-size: 8px;
    margin-right: 5px;
  }
  
  
  
  