@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logo {
    font-size: 25px;
    color: #00abf0;
    text-decoration: none;
    font-weight: 700;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #031540;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
}

.navbar a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.home {
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-90deg, #031540 65%, #fff 35%);
}

.home-content {
    color: #031540;
    text-align: center;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px; 
}

.home-content ul {
    list-style: none;
}

.home-content h1 {
    font-size: 55px;
    text-align: center;
    line-height: 1.2;
}

.home-content p {
    font-size: 16px;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .navbar {
        margin-top: 10px;
    }

    .home {
        flex-direction: column;
        text-align: center;
    }

    .home-content {
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
    }
}
